.navbar-brand {
    background-color:rgb(0, 0, 0)  !important ; 

}
.nav-link{
  
    
    font-weight: bold !important;
}
.ul{
    color: white;
}
.stoory{
    background-color:black;
    color: rgb(255, 71, 71);
}
.story{
    background-color:rgb(239, 255, 10);
    color: rgb(221, 28, 28);
}
